Source: nvidia-prime
Section: devel
Priority: optional
Maintainer: Deepin <packages@deepin.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 3.9.8
Homepage: https://www.deeppin.org
#Vcs-Git: https://anonscm.debian.org/collab-maint/nvidia-prime.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/nvidia-prime.git

Package: nvidia-prime
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
