Source: mgpu-prime
Section: devel
Priority: optional
Maintainer: SwimmingTiger <hu60.cn@qq.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 3.9.8
Homepage: https://github.com/YihaoPeng/mgpu-prime
Vcs-Git: https://github.com/YihaoPeng/mgpu-prime.git
Vcs-Browser: https://github.com/YihaoPeng/mgpu-prime

Package: mgpu-prime
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Provide general solutions for multi-GPU platforms (especially laptops)
