Source: deepin-nvidia-prime
Section: devel
Priority: optional
Maintainer: Deepin <packages@deepin.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 3.9.8
Homepage: https://www.deeppin.org
#Vcs-Git: https://anonscm.debian.org/collab-maint/nvidia-prime.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/nvidia-prime.git

Package: deepin-nvidia-prime
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, xserver-xorg-video-nvidia
Description: Tool to support Nvidia Optimus
 A tool to support Nvidia Optimus.
